<div class='relative'>
  <div
    class='text-right text-white rounded-lg bg-[url("/img/bg_drone3.webp")] bg-fixed bg-center bg-cover bg-no-repeat px-5 py-10 md:py-20'
  >
    <p class='text-4xl lg:text-8xl font-bold'>Participa en el</p>
    <p class='text-4xl text-[#2292a2] lg:text-8xl font-bold'>
      punto de encuentro
    </p>
    <p class='mt-4 lg:text-5xl'>
      central para la industria de los drones, <br /> incluyendo proveedores de soluciones<br
      /> y tomadores de decisiones.
    </p>
    <div class='mt-5 lg:text-xl'>
      <p>
        -Establece contactos e impulsa el desarrollo del sector aéreo<br /> en materia
        de drones en México.
      </p>
      <p>-Amplia tu red de contactos especializados en drones.</p>
      <p>-Impulsa tu empresa ante el sector público, privado y medios.</p>
      <p>
        -Expone y promueve productos de drones con un alto impacto<br /> visual y
        presencial con canales de contenido innovadores
      </p>
    </div>
  </div>
</div>
