---
import { t } from 'i18next'
---

<div class='relative'>
  <div
    class='text-right text-white rounded-lg bg-[url("/img/bg_drone3.webp")] bg-fixed bg-center bg-cover bg-no-repeat px-5 py-10 md:py-20'
  >
    <p class='text-4xl lg:text-8xl font-bold'>{t('home.text_47')}</p>
    <p class='text-4xl text-[#2292a2] lg:text-8xl font-bold'>
      {t('home.text_48')}
    </p>
    <p class='mt-4 lg:text-5xl' set:html={t('home.text_49')} />

    <div class='mt-5 lg:text-xl'>
      <p set:html={t('home.text_50')} />
      <p set:html={t('home.text_51')} />
      <p set:html={t('home.text_52')} />
      <p set:html={t('home.text_53')} />
    </div>
  </div>
</div>
