---
import { Suscribe } from '../shared/Suscribe.jsx'
---

<footer
  class='container m-0 p-10 bg-white'
  style='width: 100%; max-width: 100%;'
>
  <div
    class='grid md:grid-cols-3 place-items-center border-y-2 border-black py-5 m-4'
  >
    <img src='/img/ieg.png' alt='logo' width='120' />
    <img src='/img/deutchemesse.png' alt='logo' width='200' />
    <img src='/img/airmobolity_footer.png' alt='logo' width='200' />
  </div>
  <div
    class='grid place-content-center lg:flex gap-5 items-center border-b-2 border-black py-5'
  >
    <div class='w-full lg:pe-10'>
      <iframe
        src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.3692268713003!2d-99.22427789999999!3d19.439641399999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d2022fe7df043d%3A0xa5ca82b410bf9d12!2sCentro%20Banamex%2C%20Av.%20del%20Conscripto%2C%20Lomas%20de%20Sotelo%2C%20Hip%C3%B3dromo%20de%20las%20Am%C3%A9ricas%2C%20Miguel%20Hidalgo%2C%2011610%20Naucalpan%20de%20Ju%C3%A1rez%2C%20CDMX!5e0!3m2!1ses!2smx!4v1742923809022!5m2!1ses!2smx'
        class='w-full h-96'
        style='border:0;'
        allowfullscreen=''
        loading='lazy'
        referrerpolicy='no-referrer-when-downgrade'></iframe>
      <p>
        <strong>DRONE INNOVATOR FORUM MX</strong>
        <br />Centro Banamex, Ciudad de México
      </p>
    </div>

    <div class='flex justify-center items-center'>
      <img src='/img/AZUL-ICON.webp' alt='logo' class='w-20 rounded-full' />
      <diV>
        <strong>Azul Ogazón</strong>
        <p>Deputy Manager IGECO</p>
        <a href='mailto:azul.ogazon@igeco.mx'>azul.ogazon@igeco.mx</a>
      </diV>
    </div>

    <Suscribe client:only />
  </div>
  <p class='font-bold text-center md:text-left'>
    ITALIAN GERMAN EXHIBITION COMPANY
  </p>
  <a href='https://igeco.mx/aviso-de-privacidad' target='_blank' class=''
    >Aviso de privacidad | Contacto</a
  >
</footer>
