<footer class='mx-4 py-5'>
  <div
    class='grid place-content-center md:flex gap-5 md:justify-between items-center border-b-2 border-black py-5'
  >
    <p>
      <strong>DRONE INNOVATOR FORUM MX</strong>
      <br />Centro Ecuestre SEDENA
    </p>
    <div class='flex justify-center items-center'>
      <img src='/img/AZUL-ICON.webp' alt='logo' class='w-20 rounded-full' />
      <diV>
        <strong>Azul Ogazón</strong>
        <p>Deputy Manager IGECO</p>
        <a href='mail:toazul.ogazon@igeco.mx'>azul.ogazon@igeco.mx</a>
      </diV>
    </div>

    <form class='grid gap-3'>
      <div class='grid'>
        <strong>Nombre</strong>
        <input
          type='text'
          placeholder='Nombre'
          class='border-2 rounded-lg p-2'
        />
      </div>
      <div class='grid'>
        <strong>Correo electrónico</strong>
        <input
          type='email'
          placeholder='Correo'
          class='border-2 rounded-lg p-2'
        />
      </div>
      <button class='bg-[#0c3138] text-white rounded-lg p-2'
        >SUSCRIBIRSE AL BOLETIN</button
      >
    </form>
  </div>
  <p class='font-bold text-center md:text-left'>
    ITALIAN GERMAN EXHIBITION COMPANY
  </p>
  <a href='https://igeco.mx/aviso-de-privacidad' target='_blank' class=''
    >Aviso de privacidad | Contacto</a
  >
</footer>
