---
import { Suscribe } from '../shared/Suscribe.jsx'
---

<footer class='container mx-auto py-5'>
  <div class='border-y-2 border-black py-5 m-4'>
    <img
      src='/img/logosfooter.webp'
      alt='logo'
      class='w-full md:w-2/4 mx-auto'
    />
  </div>
  <div
    class='grid place-content-center md:flex gap-5 md:justify-between items-center border-b-2 border-black py-5'
  >
    <p>
      <strong>DRONE INNOVATOR FORUM MX</strong>
      <br />Centro Ecuestre SEDENA
    </p>
    <div class='flex justify-center items-center'>
      <img src='/img/AZUL-ICON.webp' alt='logo' class='w-20 rounded-full' />
      <diV>
        <strong>Azul Ogazón</strong>
        <p>Deputy Manager IGECO</p>
        <a href='mailto:azul.ogazon@igeco.mx'>azul.ogazon@igeco.mx</a>
      </diV>
    </div>

    <Suscribe client:only />
  </div>
  <p class='font-bold text-center md:text-left'>
    ITALIAN GERMAN EXHIBITION COMPANY
  </p>
  <a href='https://igeco.mx/aviso-de-privacidad' target='_blank' class=''
    >Aviso de privacidad | Contacto</a
  >
</footer>
