---
import DescriptionEvent from '../shared/DescriptionEvent.astro'
---

<section class='mt-3 relative' id='category'>
  <p class='text-4xl md:text-9xl font-bold md:-ms-8'>CATEGORÍAS</p>
  <img
    src='/img/linedrone.webp'
    alt='linea'
    class='w-full mx-auto container px-4'
  />

  <div
    class='my-10 flex flex-wrap flex-1 justify-center gap-5 px-4 text-xs md:text-2xl'
  >
    <span class='border-2 rounded-lg p-2'>Drones</span>
    <span class='border-2 rounded-lg p-2'>Navegación y posicionamiento</span>
    <span class='border-2 rounded-lg p-2'>Cartografía</span>
    <span class='border-2 rounded-lg p-2'>Geoprocesamiento</span>
    <span class='border-2 rounded-lg p-2'>Inteligencia Artificial</span>
    <span class='border-2 rounded-lg p-2'>Topografía </span>
    <span class='border-2 rounded-lg p-2'>Sensores remotos</span>
    <span class='border-2 rounded-lg p-2'>Monitoreo e inspecciones</span>
    <span class='border-2 rounded-lg p-2'>Escaneo Láser y Lidar</span>
    <span class='border-2 rounded-lg p-2'>Soluciones de uso recreativo</span>
    <span class='border-2 rounded-lg p-2'>Catastro multipropósito</span>
  </div>
  <DescriptionEvent />
</section>
