---
import { FlipText } from '../ui/flip-text'
import { t } from 'i18next'
---

<section
  class="bg-[url('/img/bg_drone.webp')] bg-center lg:bg-[center_top_-10rem] bg-cover bg-no-repeat h-screen grid place-items-center lg:place-items-start lg:flex lg:justify-between"
>
  <div class='p-5'>
    <FlipText
      className='text-md font-extrabold -tracking-widest text-[#1e2023] md:text-2xl md:leading-[5rem] '
      word={t('home.date')}
      client:only
    />
  </div>

  <div class='mt-auto md:mb-20 ms-auto w-fit pe-5 pb-5'>
    <FlipText
      className='text-md font-bold -tracking-widest text-[#1e2023]  md:leading-[2rem] ms-auto'
      word='SUMMIT & DEMO'
      client:only
    />
    <FlipText
      className='text-xl  tracking-widest	 text-[#1e2023] md:text-5xl md:leading-[5rem] '
      word='INNOVATORS'
      client:only
    />
    <FlipText
      className='text-xl  tracking-widest	 text-[#1e2023] md:text-5xl md:leading-[5rem] ml-[-2rem]'
      word='FORUM MX'
      client:only
    />
    <FlipText
      className='text-md tracking-tighter text-[#1e2023] md:text-xl md:leading-[2rem]'
      word={t('home.text_1')}
      client:only
    />
    <FlipText
      className='text-md tracking-tighter	font-bold text-[#1e2023] md:text-xl md:leading-[2rem] italic'
      word={t('home.text_2')}
      client:only
    />
    <div class='mt-10 grid md:flex'>
      <FlipText
        className='text-md tracking-tighter	font-bold text-[#1e2023] md:text-xl md:leading-[2rem] '
        word='CENTRO BANAMEX,  '
        client:only
      />
      <FlipText
        className='text-md tracking-tighter text-[#1e2023] md:text-xl md:leading-[2rem] '
        word='CIUDAD DE MÉXICO'
        client:only
      />
    </div>
  </div>
</section>
