---
import DescriptionEvent from '../shared/DescriptionEvent.astro'
import { t } from 'i18next'
---

<section class='mt-3 relative' id='category'>
  <p class='text-4xl md:text-9xl font-bold'>{t('menu.visitors')}</p>
  <img
    src='/img/linedrone.webp'
    alt='linea'
    class='w-full mx-auto container px-4'
  />

  <div
    class='my-10 flex flex-wrap flex-1 justify-center gap-5 px-4 text-xs md:text-2xl'
  >
    <span class='border-2 rounded-lg p-2'>{t('home.text_54')}</span>
    <span class='border-2 rounded-lg p-2'>{t('home.text_55')}</span>
    <span class='border-2 rounded-lg p-2'>{t('home.text_56')}</span>
    <span class='border-2 rounded-lg p-2'>{t('home.text_57')}</span>
    <span class='border-2 rounded-lg p-2'>{t('home.text_58')}</span>
    <span class='border-2 rounded-lg p-2'>{t('home.text_59')} </span>
    <span class='border-2 rounded-lg p-2'>{t('home.text_60')}</span>
    <span class='border-2 rounded-lg p-2'>{t('home.text_61')}</span>
    <span class='border-2 rounded-lg p-2'>{t('home.text_62')}</span>
    <span class='border-2 rounded-lg p-2'>{t('home.text_63')}</span>
    <span class='border-2 rounded-lg p-2'>{t('home.text_64')}</span>
    <span class='border-2 rounded-lg p-2'>{t('home.text_65')}</span>
    <span class='border-2 rounded-lg p-2'>{t('home.text_66')}</span>
    <span class='border-2 rounded-lg p-2'>{t('home.text_67')}</span>
    <span class='border-2 rounded-lg p-2'>{t('home.text_68')}</span>
  </div>
</section>
