<section class='mt-3 relative' id='category'>
  <p class='text-4xl md:text-9xl font-bold md:-ms-8'>CATEGORÍAS</p>
  <img
    src='/img/linedrone.webp'
    alt='linea'
    class='w-full mx-auto container px-4'
  />

  <div
    class='mt-10 flex flex-wrap flex-1 justify-center gap-5 px-4 text-xs md:text-2xl'
  >
    <span class='border-2 rounded-lg p-2'>Drones</span>
    <span class='border-2 rounded-lg p-2'>Navegación y posicionamiento</span>
    <span class='border-2 rounded-lg p-2'>Cartografía</span>
    <span class='border-2 rounded-lg p-2'>Geoprocesamiento</span>
    <span class='border-2 rounded-lg p-2'>Inteligencia Artificial</span>
    <span class='border-2 rounded-lg p-2'>Topografía </span>
    <span class='border-2 rounded-lg p-2'>Sensores remotos</span>
    <span class='border-2 rounded-lg p-2'>Monitoreo e inspecciones</span>
    <span class='border-2 rounded-lg p-2'>Escaneo Láser y Lidar</span>
    <span class='border-2 rounded-lg p-2'>Soluciones de uso recreativo</span>
    <span class='border-2 rounded-lg p-2'>Catastro multipropósito</span>
  </div>
  <div class='mt-10 px-5 relative'>
    <div
      class='text-right text-white rounded-lg bg-[url("/img/bg_drone3.webp")] bg-center bg-cover bg-no-repeat px-5 py-10 md:py-20'
    >
      <p class='text-4xl lg:text-8xl font-bold'>Participa en el</p>
      <p class='text-4xl text-[#2292a2] lg:text-8xl font-bold'>
        punto de encuentro
      </p>
      <p class='mt-4 lg:text-5xl'>
        central para la industria de los drones, <br /> incluyendo proveedores de
        soluciones<br /> y tomadores de decisiones.
      </p>
      <div class='mt-5 lg:text-xl'>
        <p>
          -Establece contactos e impulsa el desarrollo del sector aéreo<br /> en
          materia de drones en México.
        </p>
        <p>-Amplia tu red de contactos especializados en drones.</p>
        <p>-Impulsa tu empresa ante el sector público, privado y medios.</p>
        <p>
          -Expone y promueve productos de drones con un alto impacto<br /> visual
          y presencial con canales de contenido innovadores
        </p>
      </div>
    </div>
  </div>
  <div class='border-y-2 border-black py-5 m-4'></div>
</section>
