---
import { TextReveal } from './ui/text-reveal.tsx'
---

<section class='bg-[#1e2023] relative'>
  <TextReveal text='BEYOND THE SKIES, BEYOND LIMITS.' client:only />
  <img
    src='/img/elises.webp'
    alt="Elise's logo"
    class='mt-[-2rem] w-92 md:w-5/12'
  />
</section>
