---
import Menu from "@/components/shared/Menu.astro";
import "../styles/global.css";
import Footer from "@/components/shared/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/img/favicondrone.png" />
    <meta name="generator" content={Astro.generator} />
    <title>DRONE INNOVATORS FORUM MX</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-41PJEB1QRR"
    ></script>
    <Menu />
    <slot />
    <Footer />
  </head>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
